.body{
    background-color: grey;
}
.footer{
    background-color: grey;
}
.Encabezado{
    background-color: grey;
    height: 100px;
    display: right;
}

.MenuPrincipal button {
    background-color: yellow;
    box-shadow: 0 10px 20px;
    height: 50px;
    margin: 5px;
    display: flex;
}

.Menu{
    background-color: grey;
    height: 50px;
    display: flex;
}
.Menu button{
        background-color: red;
        height: 40px;
        margin: 5px;
}

.Productos{
    background-color: aqua;
    height: auto;
   
}

